[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/virpaku
[access "refs/for/refs/*"]
	read = group user/virpaku
	push = group user/virpaku
	label-Code-Review = -2..+2 group user/virpaku
	label-Verified = -1..+1 group user/virpaku
	rebase = group user/virpaku
	removeReviewer = group user/virpaku
	submit = group user/virpaku
[access "refs/heads/*"]
	read = group user/virpaku
	create = group user/virpaku
	push = +force group user/virpaku
	pushMerge = group user/virpaku
[access "refs/tags/*"]
	push = +force group user/virpaku
	pushTag = group user/virpaku
	pushSignedTag = group user/virpaku
